
.flex-container{
    height: 1000px;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.flex-item{
    background-color: brown;
    height: 200px;
    display: flex;
    align-items:center;
    padding: 50px; 
    margin: 5px;
    border: solid red 2px;
}
